doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link(rel="stylesheet", type="text/css", href="http://fastly.ink.sapo.pt/3.1.6/css/ink.css")
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    
    div.ink-grid
        
        include ./navbar
        
        div.main-container
            block content

    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(type="text/javascript", src="http://fastly.ink.sapo.pt/3.1.6/js/ink-all.js")
    script(type="text/javascript", src="/javascripts/main.js")