nav.ink-navigation
    ul.menu.horizontal.grey
        li
            a(href="/") Home
        
        if !loggedUser
        
            li
                a(href="/users/register") Register
            li.login-li
                a(href="#") Login

            li.login-form-container
                form(action="/users/login", method="post", id="login-form", class="ink-form")
                    div.column-group
                        div.control-group.all-45
                            input(type="email", name="email", placeholder="Email")

                        div.control-group.all-45
                            input(type="password", name="password", placeholder="Password")

                        div.control-group.all-5
                            button(class="ink-button orange", type="submit") Login

                        input(type="hidden", name="_csrf", value="#{csrfToken}")    

        else

            li
                a(href="/users/profile/#{loggedUser.email}") #{loggedUser.email}
            li
                a:button(class="ink-button red logout-btn") Logout