extends partials/base

block content
    div.column-group.horizontal-gutters
        
        div.small-100.medium-50.large-50.xlarge-50
            h1 #{title}
            p Welcome to Express!

        div(class="ink-alert block error login-errors", role="alert")
            button(class="ink-dismiss") &times;
            h4 Correct the following errors!
            