extends partials/base

block content
    div.column-group

    if errors
        div.all-100
            h1 404
            p #{errors[0]}
    
    else
        
        if loggedUser
            div.all-100
                figure(class="ink-image")
                  img(src="http://fillmurray.com/1000/300")
                  figcaption(class="dark") #{loggedUser.email} 
                    button.ink-button.orange.edit-btn Edit!
                    p(style="float: right; color: steelblue; margin-top: 5px;") Registered - #{created}

        else
            div.all-100
                figure(class="ink-image")
                    img(src="http://fillmurray.com/1000/300")
                    figcaption(class="dark") #{user}
                        p(style="float: right; color: steelblue;") Registered - #{created}           