extends partials/base

block content
    div.column-group.horizontal-gutters
        div.small-100.medium-50.large-50.xlarge-50
            form(action="/users/register", method="post", class="ink-form", id="register-form")
                div.control-group
                    label(for="email") Email
                    div.control
                        input(id="email", type="email", name="email")

                div.control-group
                    label(for="password") Password
                    div.control
                        input(id="password", type="password", name="password")

                div.control-group
                    label(for="re-password") Re-Password
                    div.control
                        input(id="re-password", type="password", name="re_password")

                    input(type="hidden", name="_csrf", value="#{csrfToken}")        

                div.button-group
                    button(type="submin", class="ink-button blue") Send
                    button(type="reset", class="ink-button red reset") Reset
                    div.registration-success
                        

        div.small-100.medium-50.large-50.xlarge-50.errors-ctn
            div(class="ink-alert block error registration-errors", role="alert")
                button(class="ink-dismiss") &times;
                h4 Correct the following errors!         