.main-container
{
	margin-top: 50px;
}

.ink-navigation
{
	.menu {

		border-radius: 0px !important;

		li a:focus {
			outline: none !important;
			border: none !important;
		}

		.login-form-container {
			float: right !important;
		}
	}

}

.ink-form
{
	.control-group {
		margin-bottom: 0 !important;
	}
}

.ink-button
{
	margin: 0 !important;

	&:focus {
		outline: none !important;
	}
}

#login-form
{

	margin: 2px 17px 0px;
	padding: 0;
	display: none;

	input:first-child {
		margin-right: -5px;
	}

	button {
		border-radius: 0px;
	}

}

.login-errors, .registration-errors
{
	display: none;
}

.logout-btn
{
	display: inline-block;
	margin: 0 !important;
	height: 45px;
	border-radius: 0px;
}

.button-group
{
	margin-top: 20px;

	button:first-child {
		margin-right: 10px !important;
	}

}

.registration-success
{
	display: inline-block;
	float: right;
	
	p {
		margin-top: 6px;
		margin-bottom: 0px;
		color: green;
	}

}

.edit-btn
{
	padding: 2px 5px !important;
}

figcaption
{
	padding: 10px 20px !important;
}