body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form
{

	div {
		padding: 5px 0px;
	}

	input, button {
		padding: 5px;
	}

	.errors-ctn p {
		color: rgb(219, 66, 66);
		font-weight: bold;
	}

}